ion-fab-button {
  width: 150px;
  height: 150px;
}

ion-card {
  max-width: 80%;
  min-height: 200px;
  margin: 40px 120px ;
  display: flex;
  justify-content: space-evenly;

}

ion-card.active {
  border: 1px solid #ddd !important;
  height: 400px;
  max-width: 90%;
  margin: 20px 20px;
}

.ion-card-item {
  text-align: center;
  margin: auto auto;
}

ion-item {
  font-size: xx-large;
}

.ready-button {
  text-align: center;
  margin: auto 20px;
  height: 80px;
  width: 120px;
}

